body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
#weather{
    color: white;
    float: right;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(14, 14, 136, 0.5);
}
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 14px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }





.navbar-light{
    text-align: left;
    color: white;
    font-family: serif;
    background-color: rgba(219, 63, 63, 0.301);
    width: 33%;
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: rgb(223,223,220);
}
a.highlight:hover{
    color: bisque;
}

.secondContainer{
    margin-top: 15%;
    background-color:rgba(255, 255, 255, 0.75);
    border-style: solid;
    border-width: 10px;
}
.hello{
    border-style: dotted;
    border-width: 10px; 
    border-color: rgba(219, 63, 63, 0.596);
    font-family: serif;
    font-size: 5em;
    font-style: italic;
    color: white;
    margin: 1em;
    line-height: 75%;
}
#hello1{
    text-indent: -10px;

}
@media (max-width: 415px) {
    .hello{
        border-style: dotted;
        border-width: 10px; 
        border-color: rgba(219, 63, 63, 0.596);
        font-family: serif;
        font-size: 1em;
        font-style: italic;
        color: white;
        margin: 1em;
        line-height: 0.25%;
    }
    .navbar-light{
        text-align: left;
        color: white;
        font-family: serif;
        background-color: rgba(219, 63, 63, 0.301);
        width: 100%;
        text-decoration: none;
        font-weight: bold;
    }
}
#ideas{
    margin-left: 25%;
    color: white;
    text-align: left;
    letter-spacing: 10px;
    background-color: rgba(219, 63, 63, 0.596);
    padding: 10px;
}
    


.column2{
    height: 4px;
    width: 100%;
    background-color: rgb(134, 134, 134);
}
#my-image{
    position: relative;
    left: -15px;
    border-radius: 50%;
    height: auto;
    
   margin: auto;
}
#full-stack{
    margin: 3em;

}
#hamid{
    text-indent: 100px;
}
#hamid1{
    font-weight: bold;
    font-size: 150%;
}
.developer{
    color: white;
    font-family: serif;
    text-align: center;
    margin: auto;
    margin-top:200px;
    padding: 8px;
    background-color:  rgba(134, 134, 134, 0.253);
    display: flex;
    justify-content: center;
    
}
#body-contact{
    background-color: rgb(223,223,220);   
}
.contact{
    color: white;
    background-color: rgb(134, 134, 134);
    width: 75%;
    margin: auto;
    text-align: left;
    border: 3px solid rgb(223,223,220);

    }
form{
    text-align: left;
    width: 75%;
    padding: 2em;
}
h2{
    text-align: center;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 1em;
}

.form-group{
    color: rgb(223,223,220);

}
#exampleFormControlInput1, #exampleFormControlInput2 {
    width: 30%;
}
#exampleFormControlTextarea{
    width: 50%;
}
#contactInfo{
    color: white;
}