body{
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-attachment: fixed; 
    padding-left: 2%;
    padding-right: 2%;
}
#weather{
    color: white;
    float: right;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;
    background-color: rgba(14, 14, 136, 0.5);
}
#navbar{
    padding: 1%;
    border-radius: 50%;
}
  #navbar a:hover {
    background-color: rgba(44, 46, 172, 0.301);
    color:  rgba(225, 225, 238, 1);
    text-decoration: none;
    border-radius: 50%;
    
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
    padding: 1%;
  }
  
.navbar-light{
    text-align: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(219, 63, 63, 0.301);
    width: 33%;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: rgb(223,223,220);
}
a.highlight:hover{
    color: bisque;
}

.secondContainer{
    margin-top: 15%;
    background-color:rgba(255, 255, 255, 0.75);
    border-style: solid;
    border-width: 5px;
    border-radius: 25%;
    border-color: aquamarine;
}
.hello{
    position: relative;
    border-style: dotted;
    border-width: 10px; 
    border-color: rgba(219, 63, 63, 0.596);
    font-family: serif;
    font-size: 5em;
    font-style: italic;
    color: white;
    margin: 1em;
    line-height: 75%;
}
#hello1{
    text-indent: -10px;

}
@media (max-width: 415px) {
    .hello{
        border-style: dotted;
        border-width: 10px; 
        border-color: rgba(219, 63, 63, 0.596);
        font-family: serif;
        font-size: 1em;
        font-style: italic;
        color: white;
        margin: 1em;
        line-height: 0.25%;
    }
    .navbar-light{
        text-align: left;
        color: white;
        font-family: serif;
        background-color: rgba(219, 63, 63, 0.301);
        width: 100%;
        text-decoration: none;
        font-weight: bold;
    }
}
#ideas{
    margin-left: 25%;
    color: white;
    text-align: left;
    letter-spacing: 10px;
    background-color: rgba(219, 63, 63, 0.596);
    padding: 10px;
}
    


.column2{
    height: 4px;
    width: 100%;
    background-color: rgb(134, 134, 134);
}
#my-image{
    position: relative;
    left: -15px;
    border-radius: 50%;
    height: auto;
    margin: auto;
}
#full-stack{
    margin: 3em;
    text-align: justify;

}
#hamid{
    text-indent: 100px;
}
#hamid1{
    font-weight: bold;
    font-size: 150%;
}

#body-contact{
    background-color: rgb(223,223,220);   
}
.contact{
    color: white;
    background-color: rgb(134, 134, 134);
    width: 75%;
    margin: auto;
    text-align: left;
    border: 3px solid rgb(223,223,220);

    }
form{
    text-align: left;
    width: 75%;
    padding: 2em;
}
h2{
    text-align: center;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 1em;
}

.form-group{
    color: rgb(223,223,220);

}
#exampleFormControlInput1, #exampleFormControlInput2 {
    width: 30%;
}
#exampleFormControlTextarea{
    width: 50%;
}
#contactInfo{
    color: white;
}



#portfolioTitle {
    background-color: rgba(21, 255, 0, 0.25);
    height: 1em;
    text-align: center;
    font-size: 5em;
    padding: 10px;
    margin-top: 3em;
    color: rgba(167, 228, 207, 0.705);
}

.row {
    text-align: center;
}

#wordGamePic,
#triviaGamePic,
#gifTasticPic,
#crystalGamePic,
#trainSchedulePic,
#bamazonPic,
#eatDaBurgerPic,
#friendFinderPic,
#timeToGoPic,
#liriBotPic,
#movieShufflePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    border: 3px solid white;
    padding: 3px;


}



#crystalGamePic:hover,
#triviaGamePic:hover,
#wordGamePic:hover,
#gifTasticPic:hover,
#trainSchedulePic:hover,
#bamazonPic:hover,
#eatDaBurgerPic:hover,
#friendFinderPic:hover,
#timeToGoPic:hover,
#liriBotPic:hover,
#movieShufflePic:hover{
    box-shadow: 0px 0px 10px 3px rgba(62, 223, 30, 0.8);
}

#wordGameTitle,
#triviaGameTitle,
#crystalGameTitle,
#gifTasticTitle,
#trainScheduleTitle,
#bamazonTitle,
#eatDaBurgerTitle,
#friendFinderTitle,
#timeToGoTitle,
#liriBotTitle,
#movieShuffleTitle {
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
}
.developer{
color: white;
font-family: serif;
text-align: center;
margin-top:200px;
margin-bottom: 1em;
padding: 8px;
border-radius: 10px;
background-color:  rgba(134, 134, 134, 0.25);
display: flex;
justify-content: center;
}
#contactDiv{
    color: white;
    margin-top: 15%;
    border: 5px solid;
    width: 30%;
    align-content: center;
    padding: 3%;
    border-bottom-right-radius:  50%;
    background-color:  rgba(158, 54, 144, 0.473)
}








