body{
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-attachment: fixed; 
    padding-left: 2%;
    padding-right: 2%;
}
#weather{
    color: white;
    float: right;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;
    background-color: rgba(14, 14, 136, 0.5);
    z-index: +1;
}
#stickyNav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: +1;
    
}
#navbar{
    padding: 1%;
    border-radius: 50%;
}
  #navbar a:hover {
    background-color: rgba(44, 46, 172, 0.301);
    color:  rgba(225, 225, 238, 1);
    text-decoration: none;
    border-radius: 50%;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
    padding: 1%;
  }
  
.navbar-light{
    text-align: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(219, 63, 63, 0.301);
    width: 33%;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: rgb(223,223,220);
}
a.highlight:hover{
    color: bisque;
}

.secondContainer{
    margin-top: 15%;
    background-color:rgba(255, 255, 255, 0.75);
    border-style: solid;
    border-width: 5px;
    border-radius: 25%;
    border-color: rgba(136, 127, 255, 0.521);
}
.hello{
    position: relative;
    border-style: dotted;
    border-width: 10px; 
    border-color: rgba(219, 63, 63, 0.596);
    font-family: serif;
    font-size: 5em;
    font-style: italic;
    color: white;
    margin: 1em;
    line-height: 75%;
    z-index: -1;
}
#hello1{
    text-indent: -10px;

}
@media (max-width: 415px) {
    .hello{
        border-style: dotted;
        border-width: 10px; 
        border-color: rgba(219, 63, 63, 0.596);
        font-family: serif;
        font-size: 1em;
        font-style: italic;
        color: white;
        margin: 1em;
        line-height: 0.25%;
    }
    .navbar-light{
        text-align: left;
        color: white;
        font-family: serif;
        background-color: rgba(219, 63, 63, 0.301);
        width: 100%;
        text-decoration: none;
        font-weight: bold;
    }
}
#ideas{
    margin-left: 25%;
    color: white;
    text-align: left;
    letter-spacing: 10px;
    background-color: rgba(219, 63, 63, 0.596);
    padding: 10px;
}
    


.column2{
    height: 4px;
    width: 100%;
    background-color: rgb(134, 134, 134);
}
#my-image{
    position: relative;
    left: -15px;
    border-radius: 50%;
    height: auto;
    margin: auto;
}
#full-stack{
    margin: 10%;
    text-align: justify;
    padding: 2%;
    background-color: #34b6d617;
    border: solid white;

}
#hamid{
    text-indent: 100px;
}
#hamid1{
    font-weight: bold;
    font-size: 150%;
}

#body-contact{
    background-color: rgb(223,223,220);   
}
.contact{
    color: white;
    background-color: rgb(134, 134, 134);
    width: 75%;
    margin: auto;
    text-align: left;
    border: 3px solid rgb(223,223,220);

    }
form{
    text-align: left;
    width: 75%;
    padding: 2em;
}
h2{
    text-align: center;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 1em;
}

.form-group{
    color: rgb(223,223,220);

}
#exampleFormControlInput1, #exampleFormControlInput2 {
    width: 30%;
}
#exampleFormControlTextarea{
    width: 50%;
}
#contactInfo{
    color: white;
}



#portfolioTitle {
    background-color: rgba(21, 255, 0, 0.25);
    height: 1em;
    text-align: center;
    font-size: 5em;
    padding: 10px;
    margin-top: 3em;
    color: rgba(167, 228, 207, 0.705);
}

.row {
    text-align: center;
}

#wordGamePic,
#triviaGamePic,
#gifTasticPic,
#crystalGamePic,
#trainSchedulePic,
#bamazonPic,
#eatDaBurgerPic,
#friendFinderPic,
#timeToGoPic,
#liriBotPic,
#movieShufflePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    border: 3px solid white;
    padding: 3px;


}



#crystalGamePic:hover,
#triviaGamePic:hover,
#wordGamePic:hover,
#gifTasticPic:hover,
#trainSchedulePic:hover,
#bamazonPic:hover,
#eatDaBurgerPic:hover,
#friendFinderPic:hover,
#timeToGoPic:hover,
#liriBotPic:hover,
#movieShufflePic:hover{
    box-shadow: 0px 0px 10px 3px rgba(62, 223, 30, 0.8);
}

#wordGameTitle,
#triviaGameTitle,
#crystalGameTitle,
#gifTasticTitle,
#trainScheduleTitle,
#bamazonTitle,
#eatDaBurgerTitle,
#friendFinderTitle,
#timeToGoTitle,
#liriBotTitle,
#movieShuffleTitle {
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
}
.developer{
color: white;
font-family: serif;
text-align: center;
margin-top:200px;
margin-bottom: 1em;
padding: 8px;
border-radius: 10px;
background-color:  rgba(134, 134, 134, 0.25);
display: flex;
justify-content: center;
}
#contactDiv{
    color: rgba(255, 255, 255, 0.75);
    border: 5px solid;
    width: 30%;
    align-content: left;
    padding: 0%;
    border-bottom-right-radius:  50%;
    position: relative;    
    margin: auto;
    margin-top: 15%;

}
#mailPic{
    width: 25%;
    height: 25%;
    position: relative;
    margin-left: 0;
}
.envelope {
    width: 300px;
    height: 150px;
    background: #b49976;
    position: relative;
    margin: auto;
    margin-top: 5%;
  }
  .envelope__check {
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    cursor: pointer;
  }
  .envelope__check:checked ~ .envelope__flap {
    transition: z-index 0s 0.25s, -webkit-transform 0.25s 0s;
    transition: transform 0.25s 0s, z-index 0s 0.25s;
    transition: transform 0.25s 0s, z-index 0s 0.25s, -webkit-transform 0.25s 0s;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    z-index: 0;
  }
  .envelope__check:checked ~ .envelope__letter {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.25s;
    transition: transform 0.25s 0.25s, z-index 0s 0.5s;
    transition: transform 0.25s 0.25s, z-index 0s 0.5s, -webkit-transform 0.25s 0.25s;
    z-index: 5;
  }
  .envelope__check:checked ~ .envelope__letter .letter__content:nth-child(2),
  .envelope__check:checked ~ .envelope__letter .letter__content:nth-child(3) {
    transition: -webkit-transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s, -webkit-transform 0.25s 0.5s;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  .envelope__flap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75%;
    transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s, z-index 0s 0.5s;
    transition: transform 0.25s 0.5s, z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: repeating-linear-gradient(-45deg, #dad6d1, #dad6d1 10px, #e74c3c 10px, #e74c3c 20px, #dad6d1 20px, #dad6d1 30px, #1e90ff 30px, #1e90ff 40px) 0 0/100% 5px no-repeat, #dad6d1;
    z-index: 4;
    -webkit-clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
            clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
  }
  .envelope__flap--inside {
    background: #dad6d1;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
  .envelope__back {
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: repeating-linear-gradient(-45deg, #d6b88d, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/100% 5px no-repeat, repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/5px 100% no-repeat, repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 100% 100%/5px 100% no-repeat, #cebda6;
    -webkit-clip-path: polygon(80% 40%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 40%);
            clip-path: polygon(80% 40%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 40%);
  }
  .envelope__back:after {
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #c7b49a, #c7b49a 10px, #e74c3c 10px, #e74c3c 20px, #c7b49a 20px, #c7b49a 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/100% 5px no-repeat, #c7b49a;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(70% 10%, 100% 100%, 0 100%, 30% 10%);
            clip-path: polygon(70% 10%, 100% 100%, 0 100%, 30% 10%);
  }
  .envelope__letter {
    height: 90%;
    width: 90%;
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 5%;
    transition: z-index 0s 0.25s, -webkit-transform 0.25s 0.25s;
    transition: transform 0.25s 0.25s, z-index 0s 0.25s;
    transition: transform 0.25s 0.25s, z-index 0s 0.25s, -webkit-transform 0.25s 0.25s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .letter__content {
    height: 100%;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    padding: 14px;
    text-align: justify;
  }
  .letter__content:nth-child(2),
  .letter__content:nth-child(3) {
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    top: 100%;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    z-index: 2;
    border-top: 1px solid #eee;
  }
  .letter__content:nth-child(3) {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .sign-off {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 20px;
    font-family: cursive;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }